.logo {
    padding: 15px;
    margin: 0;
  }
  

  .nav-link {
    color: white ; 
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  
    &:hover,
    &.active-link {  
      color: #d0ff00 ;
    
    }
  }
  
 